*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html{
  font-family: sans-serif;
}

.header {
  height: 110px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  background-color: #3172b9;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  padding: 20px 35px;
  border-radius: 4px;
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}

.section-clients__list {
  display: flex;
}

.section-clients__list_item {
  flex: 1 1 33.33%;
}