/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light')
       url('../fonts/open-sans-v29-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular')
       url('../fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold')
       url('../fonts/open-sans-v29-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html{
  font-family: 'Open Sans', sans-serif;
}

/* Header */
.header {
  height: 110px;
  border-bottom: 1px solid #e4e4e4;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  background-color: #3172b9;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  padding: 20px 35px;
  border-radius: 4px;
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  
  height: 100%;
}

.logo {
  margin-right: 147px;
}

.nav-list {
  display: flex;
}

.nav-item {
  font-size: 15px;
  line-height: 1;
}

.nav-link {
  color: #1c1c1c;
}

.nav-item.is-active {
  color: #3172b9;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}

/* Hero */
.section-hero {
  height: 550px;
  background: url('../img/hero-img.jpg') right center no-repeat white;
  background-size: contain;
}

.section-hero-btn-description {
  margin-top: 10px;
}

.hero-container {
  padding-top: 125px;
  padding-bottom: 130px;
}
.hero-content {
  max-width: 50%;
}

.section-hero-heading {
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  margin-bottom: 30px;
}

.section-hero__description {
  margin-bottom: 35px;
}

.section-hero-btn-description {
  margin-top: 15px;
}

/* What We Do */
.section-do {
  padding-top: 225px;
  padding-bottom: 200px;
}

.section-do__description {
  padding-top: 40px;
}

.section-do__list {
  display: flex;
  padding-top: 55px;
}

.text-center {
  text-align: center;
}

.section-do__item {
  flex: 1 1 25%;
  outline: solid 3px red;
}

.section-do__item:not(:last-child) {
  margin-right: 32px;
}

/* Clients */
.section-clients {
  margin-bottom: 160px;
}

.section-clients__list {
  display: flex;
}

.section-clients__list_item {
  flex: 1 1 33.33%;
}

.section-clients__user {
  display: flex;
  align-items: center;
}

.section-clients__list_item:not(:last-child) {
  margin-right: 30px;
}

.section-clients__avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #3172b9;
  border-radius: 50%;
  margin-right: 15px;
}

/* Contacts */
.section-contacts {
  margin-top: 70px;
  margin-bottom: 170px;
}

.section-contacts__list {
  margin-top: 120px;
  display: flex;
}

.section-contacts-list-item {
  flex: 1 1 33.33%;
}

.section-contacts-info {
  max-width: 230px;
}

.section-contacts-icon {
  display: block;
  height: 26px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.icon__gps {
  background-image: url(../img/gps.png);
}

.icon__phone {
  background-image: url(../img/phone.png);
}

.icon__mail {
  background-image: url(../img/mail.png);
  height: 19px;
}

.section-contacts-info {
  margin-top: 45px;
}

/* Footer */
.footer {
  height: 125px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-copyrights {
  margin-left: 25px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}

/*  18.05 lesson 6  */

.section-heading {
  font-size: 36px;
}