*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html{
  font-family: sans-serif;
}

/* Header */
.header {
  height: 110px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  background-color: #3172b9;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  padding: 20px 35px;
  border-radius: 4px;
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}

/* Hero */
.section-hero-btn-description {
  margin-top: 10px;
}

.hero-container {
  padding-top: 125px;
  padding-bottom: 130px;
}
.hero-content {
  max-width: 50%;
}

.section-hero-heading {
  margin-bottom: 30px;
}

.section-hero__description {
  margin-bottom: 35px;
}

.section-hero-btn-description {
  margin-top: 15px;
}

/* What We Do */
.section-do {
  padding-top: 225px;
  padding-bottom: 200px;
}

.section-do__description {
  padding-top: 40px;
}

.section-do__list {
  display: flex;
  padding-top: 55px;
}

.text-center {
  text-align: center;
}

.section-do__item {
  flex: 1 1 25%;
  outline: solid 3px red;
}

.section-do__item:not(:last-child) {
  margin-right: 32px;
}